{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {
    "yoda": 0
  },
  "globals": {
    "DEBUG": false,
    "VERSION": false,
    "React": false,
    "ReactDOM": false
  }
}
